In [69]:
#Cria um dataFrame vazio
#Para cada Video, cria uma "Serie" com os valores e adiciona no dataframe

import pandas as pd

In [70]:
data = pd.DataFrame() #criar data frame vazio

In [71]:
s = pd.Series() #cria vetor

In [72]:
s = s.append(pd.Series([5]),ignore_index=True) #adiciona um valor no vetor

In [73]:
s = s.append(pd.Series([8]),ignore_index=True) #adiciona um valor no vetor

In [74]:
data = data.append(s,ignore_index=True) #adiciona um linha com os valores do vetor

In [75]:
data

     0    1
0  5.0  8.0